
/*===================================================================================*/
/*  FONTS                                                                            */
/*===================================================================================*/

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);


/*===================================================================================*/
/*  BASIC                                                                            */
/*===================================================================================*/

#wrap {
	width: 100%;
}


/*===================================================================================*/
/*  TOP                                                                              */
/*===================================================================================*/

#top {
	width: 100%;
	background-color: #00aebd;
	height:23px;
	line-height:23px;
	text-align:center;
}

#top a { color:#FFFFFF; }
#top a:hover { color:#FFFFCC; }

#top span { color:#FFFFFF; margin:0 4px; }

#top table.topTable {
	width:100%;
	margin:0 auto;
	height:23px;
	table-layout: fixed;
}

#top td.contents1 {
	width:490px;
	text-align:left;
	height:23px;
	line-height:23px;
	color:#FFFFFF;
}

#top td.contents2 {
	width:490px;
	text-align:right;
	height:23px;
	line-height:23px;
	color:#FFFFFF;
	background-color:#f02a5b;
}

#top td.ext1 {
	background-color:#00aebd;
}
#top td.ext2 {
	background-color:#f02a5b;
}

/*===================================================================================*/
/*  HEADER                                                                           */
/*===================================================================================*/

#header {
	width: 100%;
	padding: 20px 0 10px 0;
	border-bottom: 1px solid #f02a5b;
}

#header .contents {
	width: 980px;
	margin: 0 auto;
}

#header .logo {
	text-align: center;
	margin-bottom: 20px;
}

#header ul#nav {
	float: left;
}

	#header ul#nav li {
		display: inline-block;
		margin: 0 10px;
		font-weight: 700;
	}

	#header ul#nav a {
		display: block;
		font-size: 14px;
		padding: 7px 0;
		color: #333;
		text-decoration: none;
	}

		#header ul#nav a:hover,#header ul#nav .on a,#header ul#nav a.on {
			color: #f02a5b;
		}

#header .search-form-area {
	width: 207px;
	height: 27px;
	background: url('../images/search.gif') no-repeat;
	float: right;
	margin-right: 10px;
}

	#header .search-form-area input[type="text"] {
		width: 165px;
		height: 19px;
		float: left;
		margin: 4px 0 0 10px;
		border:0;
	}

	#header .search-form-area input[type="button"] {
		width: 20px;
		height: 19px;
		float: right;
		margin: 4px 10px 0 0;
		border: 0;
		background: url('../images/search_btn.gif') 50% 50% no-repeat;
	}


/*===================================================================================*/
/*  FOOTER                                                                           */
/*===================================================================================*/

#footer {
	width: 100%;
	/*padding: 20px 0;
	margin: 20px 0;*/
}

	#footer .bot-nav {
		width:980px;
		margin:5px auto;
		text-align:right;
	}

		#footer .bot-nav ul {
			float: right;
		}

			#footer .bot-nav ul li {
				display: inline-block;
				margin: 0 10px;
				font-weight: 700;
			}

			#footer .bot-nav ul a {
				display: block;
				/*font-size: 12px;*/
				padding: 7px 0;
				color: #575858;
				text-decoration: none;
			}

				#footer .bot-nav ul a:hover,#footer .bot-nav ul .on a,#footer .bot-nav ul a.on {
					color: #f02a5b;
				}


	#footer .contents {
		width:980px;
		margin:20px auto;
		text-align:center;
	}

	#footer .contents .span {
		font-weight:bold;
	}


/*===================================================================================*/
/*  SECTION COMMON                                                                   */
/*===================================================================================*/

[id*="section"] {
	width: 100%;
	position: relative;
	margin-top: 10px;
}

[id*="section"] .container {
	width: 980px;
	margin: 0 auto;
}


/*===================================================================================*/
/*  SECTION1                                                                         */
/*===================================================================================*/

.main-slide-gallery {
	width: 650px;
	height: 435px;
	float: left;
	border: 1px solid #b7b7b7;
	max-height: 435px;
	position: relative;
}

	.main-slide-gallery img {
		width: 650px;
		height: 433px;
	}

	.main-slide-gallery #slider1 {
		height: 435px;
	}

	.main-slide-gallery #slider1 li {
		position: absolute;
		top: 0;
		left: 0;
	}

	.main-slide-gallery .contents {
		width: 648px;
		height: 115px;
		position: absolute;
		left: 0;
		bottom: 0;
		background: url('../images/main_gallery_contents.png') repeat;
	}

	.main-slide-gallery li {
		margin: 0;
		padding: 0;
	}

		body:first-of-type .main-slide-gallery img {
			width: 648px; /* 사파리, 크롬,  오페라, 파폭 핵 */
		}

		@media screen and (-webkit-min-device-pixel-ratio:0) { /* 사파리, 크롬,  오페라, 파폭 핵 */
			.main-slide-gallery .contents {
				bottom: 2px;
			}
		}

	.main-slide-gallery .contents .left {
		float: left;
		color: #000;
	}

	.main-slide-gallery .contents .right {
		float: right;
		color: #000;
	}

	.main-slide-gallery .contents h1 {
		margin: 15px 0 0 15px;
		font-size: 28px;
	}

	.main-slide-gallery .contents h3 {
		margin: 12px 0 0 17px;
		font-size: 14px;
	}

	.main-slide-gallery .contents h2 {
		margin: 7px 0 0 15px;
		font-size: 20px;
	}

	.main-slide-gallery .contents h1.price {
		margin: 67px 15px 0 0;
		font-size: 28px;
		font-weight: normal;
	}

	.main-slide-gallery .contents h1.price span {
		font-weight: bold;
	}

.main-search-area {
	width: 320px;
	float: right;
}

	.main-search-area .powersearch img {
		margin-bottom: 30px;
	}


.main-search-area h3 {
	font-size: 22px;
	font-weight: bold;
	color: #000;
	margin: 0;
	padding: 0;
}

.main-search-area .speed-search-area {
	height: 318px;
	border: 1px solid #b7b7b7;
	padding: 15px;
}

	/* -- 테이블설정 ---------------------------------------- */

	.main-search-area .speed-search-area table {
		margin-bottom: 15px;
	}

	.main-search-area .speed-search-area table th,
	.main-search-area .speed-search-area table td {
		vertical-align: middle;
		height: 30px;
	}

	.main-search-area .speed-search-area table th {
		width: 45px;
	}


	.main-search-area .speed-search-area table th span {
		margin-top: 2px;
		display: block;
	}

		body:first-of-type .main-search-area .speed-search-area table th span {
			margin-top: 0; /* 사파리, 크롬,  오페라, 파폭 핵 */
		}


	.main-search-area .speed-search-area table td {
		width: 100px;
	}

	.main-search-area .speed-search-area table td.tbl_banner {
		width: 148px;
		vertical-align: top;
		padding-left: 8px;
	}

	/* -- ./ 테이블설정 ------------------------------------- */


.main-search-area .speed-search-area select {
	width: 100%;
	vertical-align: middle;
	border: 1px solid #666;
	background: #fff;
}

		body:first-of-type .main-search-area .speed-search-area table th span {
			margin-top: 0; /* 사파리, 크롬,  오페라, 파폭 핵 */
		}


.main-search-area .speed-search-area input[type="image"] {
	vertical-align: middle;
}


/*===================================================================================*/
/*  SECTION2                                                                         */
/*===================================================================================*/

.section2 .cols3 {
	margin-right: 10px;
	padding:10px;
	border:1px solid #aaa;
}

.section2 .cols3+.cols3+.cols3 { /* ie8에선 선택자(last-child)가 적용되지 않는다. */
	margin-right: 0;
}

.section2 .cols3 img {
	width: 298px;
}

.section2 .cols3 h3,
.section2 .cols3 h4 {
	font-size: 16px;
	color: #000;
	margin-top:5px;
}

.section2 .cols3 h4 {
	text-align: right;
}

.section2 .cols3 h5 {
	font-size: 12px;
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px solid #ccc;
}


/*===================================================================================*/
/*  SECTION3                                                                         */
/*===================================================================================*/

.section3 {
	margin-top: 50px;
}

.section3 .row {
	padding-top: 10px;
	background: url('../images/row_dot.gif') 50% 50% repeat-y;
}

.section3 .titles {
	width: 100%;
	height: 160px;
	background: url('../images/section3_title_bg.gif') 50% 50% repeat-x;
}

.section3 .titles .container {
	width:980px;
	margin: 0 auto;
	position: relative;
}

.section3 .titles .container .title-img {
	width: 160px;
	height: 160px;
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -80px;
	background: url('../images/section3_title_img.png') no-repeat;
}

.section3 .titles .container .tleft,
.section3 .titles .container .tright {
	width: 380px;
	height: 100px;
	float: left;
	margin-top: 31px;
}

.section3 .titles .container .tright {
	float: right;
}

.section3 .titles .container .tleft h3,
.section3 .titles .container .tright h3 {
	margin-top: 15px;
	color: #d76060;
	font-size: 40px;
	text-align: right;
	font-weight: 100;
}

.section3 .titles .container .tright h3 {
	text-align: left;
}

.section3 .titles .container .tleft span,
.section3 .titles .container .tright span {
	display: block;
	color: #000;
	font-size: 16px;
	text-align: right;
	font-weight: bold;
}

.section3 .titles .container .tright span {
	text-align: left;
}


.section3 .cols2 {
	width: 460px;
	margin: 0 15px;
}

.section3 .cols2 .left {
	width: 270px;
	float: left;
}
.section3 .cols2 .right {
	width: 170px;
	padding: 15px 10px 0 0;
	float: right;
}

.section3 .cols2 .right h1 {
	font-size: 24px;
	color: #f02a5b;
}

.section3 .cols2 .right h3 {
	font-size: 13px;
	color: #000;
}

.section3 .cols2 .right h4 {
	margin-top:20px;
	font-size: 13px;
	color: #000;
	text-align: right;
}

.section3 .cols2 .right h5 {
	margin: 10px 0;
	font-size: 11px;
}

.section-group {
	margin-top: 10px;
	border: 1px solid #ddd;
}

.section-group:before, .section-group:after {
	content: " ";
	display: block;
	height: 0;
	overflow: hidden;
}

.section-group:after {
	clear: both;
}

.section-group {
	zoom: 1;
}

.section-group .left {
	position: relative;
}


/*===================================================================================*/
/*  SECTION7                                                                         */
/*===================================================================================*/

.section7 {
	margin-top: 50px;
}

.section7 .row {
	padding-top: 10px;
	background: url('../images/row_dot1.gif') 50% 50% repeat-y;
}

.section7 .titles {
	width: 100%;
	height: 160px;
	background: url('../images/section3_title_bg.gif') 50% 50% repeat-x;
}

.section7 .titles .container {
	width:980px;
	margin: 0 auto;
	position: relative;
}

.section7 .titles .container .title-img {
	width: 160px;
	height: 160px;
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -80px;
	background: url('../images/section7_title_img.png') no-repeat;
}

.section7 .titles .container .tleft,
.section7 .titles .container .tright {
	width: 380px;
	height: 100px;
	float: left;
	margin-top: 31px;
}

.section7 .titles .container .tright {
	float: right;
}

.section7 .titles .container .tleft h3,
.section7 .titles .container .tright h3 {
	margin-top: 15px;
	color: #00aebd;
	font-size: 40px;
	text-align: right;
	font-weight: 100;
}

.section7 .titles .container .tright h3 {
	text-align: left;
}

.section7 .titles .container .tleft span,
.section7 .titles .container .tright span {
	display: block;
	color: #000;
	font-size: 16px;
	text-align: right;
	font-weight: bold;
}

.section7 .titles .container .tright span {
	text-align: left;
}


.section7 .cols2 {
	width: 460px;
	margin: 0 15px;
}

.section7 .cols2 .left {
	width: 270px;
	float: left;
}
.section7 .cols2 .right {
	width: 170px;
	padding: 15px 10px 0 0;
	float: right;
}

.section7 .cols2 .right h1 {
	font-size: 24px;
	color: #f02a5b;
}

.section7 .cols2 .right h3 {
	font-size: 13px;
	color: #000;
}

.section7 .cols2 .right h4 {
	margin-top:20px;
	font-size: 13px;
	color: #000;
	text-align: right;
}

.section7 .cols2 .right h5 {
	margin: 10px 0;
	font-size: 11px;
}

.section-group {
	margin-top: 10px;
	border: 1px solid #ddd;
}

.section-group:before, .section-group:after {
	content: " ";
	display: block;
	height: 0;
	overflow: hidden;
}

.section-group:after {
	clear: both;
}

.section-group {
	zoom: 1;
}

.section-group .left {
	position: relative;
}

/*===================================================================================*/
/*  section4                                                                         */
/*===================================================================================*/

.section4 {
	margin: 30px 0;
}

.section4 .banner-bg {
	width: 100%;
	height: 8px;
	line-height: 0;
	font-size: 0;
	background: url('../images/banner_line_bg.gif') repeat;
	text-indent: -9999px;
}

.section4 .row {
	padding: 30px 0;
}

.section4 .cols3 {
	margin-right: 10px;
	border:1px solid #aaa;
}


.section4 .cols3+.cols3+.cols3 { /* ie8에선 선택자(last-child)가 적용되지 않는다. */
	margin-right: 0;
}

/*===================================================================================*/
/*  SECTION5                                                                         */
/*===================================================================================*/

.section5 .cols3 {
	margin-right: 10px;
	padding:10px;
	border:1px solid #aaa;
}

.section5 .cols3+.cols3+.cols3 { /* ie8에선 선택자(last-child)가 적용되지 않는다. */
	margin-right: 0;
}

.section5 .cols3 img {
	width: 298px;
}

.section5 .cols3 h3,
.section5 .cols3 h4 {
	font-size: 16px;
	color: #000;
	margin-top:5px;
}

.section5 .cols3 h4 {
	text-align: right;
}

.section5 .cols3 h5 {
	font-size: 12px;
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px solid #ccc;
}


/*===================================================================================*/
/*  SECTION6                                                                         */
/*===================================================================================*/

.section6 .cols2 {
	margin-right: 10px;
}

	.section6 .cols2+.cols2 { /* ie8에선 선택자(last-child)가 적용되지 않는다. */
		margin-right: 0;
	}

.section6 .cols2 .left {
	width: 270px;
	float: left;
}
.section6 .cols2 .right {
	width: 195px;
	padding: 15px 10px 0 0;
	float: right;
}

.section6 .cols2 .right h1 {
	font-size: 24px;
	color: #f02a5b;
}

.section6 .cols2 .right h3 {
	font-size: 13px;
	color: #000;
}

.section6 .cols2 .right h4 {
	margin-top:20px;
	font-size: 13px;
	color: #000;
	text-align: right;
}

.section6 .cols2 .right h5 {
	margin: 10px 0;
	font-size: 11px;
}


/*===================================================================================*/
/*  CUSTOMER                                                                         */
/*===================================================================================*/

.customer {
	margin-top: 60px;
	border-bottom: 2px solid #84cfd6;
	padding-bottom: 20px;
}

.customer .titles {
	margin-bottom: 30px;
	background: url('../images/customer_title_bg.gif') 50% 50% repeat-x;
	text-align: center;
}

.customer .cs-info {
	width: 285px;
	float: left;
}

.customer .latest {
	width: 260px;
	float: left;
	margin-right: 30px;
}

	.customer .latest h3 {
		height: 17px;
		margin: 0;
		padding: 0;
	}

	.customer .latest .contents {
		height: 66px;
		margin: 0;
		padding: 0 10px;
	}

	.customer .latest .contents li {
		font-size: 11px;
		line-height: 150%;
	}

.customer .quick-link {
	width: 375px;
	float: right;
}
	.customer .quick-link .col2 {
	margin-bottom: 4px;
	}


	.customer .quick-link .left {
	width: 185px;
	float: left;
	}

	.customer .quick-link .right{
	width: 185px;
	float: right;
	}


.customer .bank-info {
	width: 375px;
	float: right;
}




/*===================================================================================*/
/*  SUB PAGE STYLE SHEET                                                             */
/*===================================================================================*/


/*===================================================================================*/
/*  SUB SEARCH BAR                                                                   */
/*===================================================================================*/

.sub-search-bar {
	width: 100%;
	height: 30px;
	border-bottom: 1px solid #aaa;
	text-align: center;
	vertical-align: middle;
}

.sub-search-bar table {
	width: 100%;
	border-collapse: collapse;
	border: none;
	border-spacing: 0;
}


/*===================================================================================*/
/*  SUB POWER SEARCH SEARCH                                                          */
/*===================================================================================*/

.section-powersearch table {
	width: 100%;
	border-collapse: collapse;
	border: none;
	border-spacing: 0;
}

	.section-powersearch table th {
		width: 100px;
		padding: 8px 0;
	}


	.section-powersearch table input {
		margin-right: 3px;
	}

	.section-powersearch table label {
		margin-right: 5px;
	}


/*===================================================================================*/
/*  SUB TABLE SETTING                                                                */
/*===================================================================================*/

.tbl {
	width: 100%;
	border-collapse: collapse;
	border-spacing: inherit;
	margin-bottom: 10px;
	font-size: 12px;
}

	.tbl td {
		padding: 5px;
		vertical-align: middle;
		border: 1px solid #ddd;
		line-height: 140%;
	}

	.tbl td.gallery {
		text-align: center;
		position: relative;
	}

		.tbl td.gallery a img {
			width: 139px;
			padding-bottom: 5px;
			border-bottom: 1px solid #aaa;
		}

		.tbl td.gallery a:hover img {
			padding-bottom: 5px;
			border-bottom: 1px solid #e23660;
		}

		.tbl td.gallery h3 {
			margin-top: 5px;
			font-size: 12px;
		}

		.tbl td.gallery span a {
			width: 90%;
			display: inline-block;
			padding: 3px 0;
			margin-top: 5px;
			background: #f47a98;
			border: 1px solid #e23660;
			color: #fff;
			font-size: 11px;
			font-weight: bold;
			text-decoration: none;
			max-width: 139px;
		}

		.tbl td.gallery span a:hover {
			background: #84cfd6;
			border: 1px solid #00aebd;
		}

	.tbl td:last-child {
		text-align: center;
	}

	.tbl td.last {
		text-align: center;
	}

	.tbl tbody {
		border-bottom: 2px solid #333;
	}

	.tbl th {
		font-size: 12px;
		font-weight: bold;
		text-align: center;
		color: #fff;
		padding: 8px 0;
		background: #51c3ca;
		border: 1px solid #249ea6;
	}
	.tbl td.alignLeft {
		text-align: left;
		padding-left:5px;
	}


#section.search-value-btn {
	margin: 0;
}

.search-value-btn .LineBackground {
	width: 100%;
	height: 6px;
	line-height: 0;
	font-size: 0;
	background: url('../images/banner_line_bg.gif') repeat;
	text-indent: -9999px;
	margin: 8px 0;
}

	.search-value-btn {
		text-align: center;
	}

	.search-value-btn a {
			display: inline-block;
			padding: 10px;
			background: #f47a98;
			border: 1px solid #e23660;
			color: #fff;
			font-size: 11px;
			font-weight: bold;
			text-decoration: none;
		}

	.search-value-btn a:hover {
			background: #84cfd6;
			border: 1px solid #00aebd;
		}

.search-list-top {
	width: 100%;
	margin-top: 30px;
}

	.search-list-top .left {
		width: 680px;
		float: left;
	}

	.search-list-top .right {
		/*width: 290px;*/
		float: right;
		text-align: right;
	}

	.search-list-top .right input {
		margin-right: 3px;
	}

	.search-list-top .right label {
		margin-right: 7px;
	}

/*===================================================================================*/
/*  DETAIL PAGE                                                                      */
/*===================================================================================*/


.detail-gallery-area {
	width: 370px;
	height: 340px;
	float: left;
	position: relative;
}

	.detail-gallery-area .big-thumb {
		width: 100%;
		position: relative;
	}

	.detail-gallery-area .small-thumb-area {
		margin-top:5px;
	}

	.detail-gallery-area .small-thumb-area ul {
		width: 100%;
	}

	.detail-gallery-area .small-thumb-area li {
		width: 70px;
		float: left;
		margin-right: 5px;
	}

		.detail-gallery-area .small-thumb-area li+li+li+li+li {
			margin-right: 0;
		}

			.detail-gallery-area .small-thumb-area li img {
				width: 100%;
			}

	.detail-gallery-area .gallery-view-btn,
	.detail-search-area .speed-search-btn {
		width: 100%;
		position: absolute;
		bottom: 0;
	}

	.detail-gallery-area .gallery-view-btn .btn {
		width: 100%;
		display: block;
		text-align: center;
		padding: 10px 0;
		color: #fff;
		background: #f02a5b;
		font-weight: bold;
		cursor: pointer;
	}

		.detail-gallery-area .gallery-view-btn .btn:hover {
			background: #333;
			color: #fff;
		}


		.detail-search-area a[class*="btn"] {
			width: 50%;
			display: block;
			text-align: center;
			padding: 10px 0;
			color: #fff;
			float: left;
			font-weight: bold;
		}

		.detail-search-area .btn1 {
			background: #71cf97;
			cursor: pointer;
		}

		.detail-search-area .btn2 {
			background: #51c3ca;
			cursor: pointer;
		}


		.detail-search-area a[class*="btn"]:hover {
			background: #333;
			cursor: pointer;
		}


.detail-pension-info {
	width: 270px;
	height: 340px;
	float: left;
	margin-left: 10px;
	position: relative;
}

.detail-pension-info .pension-info-btn {
	width: 100%;
	position: absolute;
	bottom: 0;
}

	.detail-pension-info .pension-info-btn .cart-add .btn,
	.detail-pension-info .pension-info-btn .fav-add .btn {
		display: block;
		width: 100%;
		padding: 10px 0;
		color: #fff;
		text-align: center;
		text-decoration: none;
		font-weight: bold;
		cursor: pointer;
	}

	.detail-pension-info .pension-info-btn .cart-add .btn {
		background: #71cf97;
		cursor: pointer;
	}

	.detail-pension-info .pension-info-btn .fav-add .btn {
		background: #51c3ca;
		cursor: pointer;
	}

	.detail-pension-info .pension-info-btn .cart-add .btn:hover,
	.detail-pension-info .pension-info-btn .fav-add .btn:hover {
		background: #333;
	}


.detail-search-area {
	width: 320px;
	height: 340px;
	float: right;
	position: relative;
}

	.detail-search-area .powersearch img {
		margin-bottom: 30px;
	}


.detail-search-area h3 {
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	color: #000;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #666;
}

.detail-search-area .speed-search-area {
	padding: 15px 15px 0;
}

	/* -- 테이블설정 ---------------------------------------- */

	.detail-search-area .speed-search-area table {
		margin-bottom: 15px;
	}

	.detail-search-area .speed-search-area table th,
	.detail-search-area .speed-search-area table td {
		vertical-align: middle;
		height: 30px;
	}

	.detail-search-area .speed-search-area table th {
		width: 45px;
	}


	.detail-search-area .speed-search-area table th span {
		margin-top: 2px;
		display: block;
	}

		body:first-of-type .detail-search-area .speed-search-area table th span {
			margin-top: 0; /* 사파리, 크롬,  오페라, 파폭 핵 */
		}


	.detail-search-area .speed-search-area table td {
		width: 100px;
	}

	.detail-search-area .speed-search-area table td.tbl_banner {
		width: 148px;
		vertical-align: top;
		padding-left: 8px;
	}

	/* -- ./ 테이블설정 ------------------------------------- */


.detail-search-area .speed-search-area select {
	width: 100%;
	vertical-align: middle;
	border: 1px solid #666;
	background: #fff;
}

		body:first-of-type .detail-search-area .speed-search-area table th span {
			margin-top: 0; /* 사파리, 크롬,  오페라, 파폭 핵 */
		}


.detail-search-area .speed-search-area input[type="image"] {
	vertical-align: middle;
}



	/*
	// -- detail table -- //
	*/

	.detail-wrap {
		width: 100%;
	}

    .span-detail {
    	width: 470px;
    }

    .span-qucik {
	    width: 190px;
	    margin-left: 10px;
    }

	.detail-wrap,
	.span-detail,
	.span-quick {
        float: left;
        min-height: 1px;
        position: relative;
    }

	.detail h2.title {
		font-size: 15px;
		border-bottom:2px solid #ddd;
		margin: 0 0 5px 0;
		padding: 0 0 5px 0;
	}

	.tbl-detail {
		width: 100%;
		border-collapse: collapse;
		border-spacing: 0;
		font-size: 12px;
		margin-bottom:5px;
	}

		.tbl-detail td {
			padding: 5px 0;
		}

	/*
	// -- condition table -- //
	*/

	.tbl-condition {
		width: 100%;
		border-collapse: collapse;
		border-spacing: 0;
		font-size: 12px;
		margin-bottom:5px;
	}

		.tbl-condition th,
		.tbl-condition td {
			text-align: center;
		}

		.tbl-condition th {
			border: 0;
			font-size: 16px;
			padding: 10px 0;
		}

			.tbl-condition th input[type=button] {
				font-size: 11px;
				vertical-align: middle;
				height:18px;
			}

		.tbl-condition td {
			border: 1px solid #ddd;
			padding: 5px 0;
		}

		.tbl-condition tr.pay td {
			font: 11px tahoma;
			padding: 10px 0;
		}

		.tbl-condition tr.pay h3.title {
			font-size: 12px;
		}



		.tbl-condition td span {
			display: block;
		}

		.tbl-condition tr.check td {
			padding: 3px 0;
		}

		.tbl-condition tr.pay td div.dc {
			color:#cc3816;
		}
		.tbl-condition tr.pay td div.not_rate {
			text-decoration:line-through;
			color:#a6a6a6;
		}

		div.title-bg {
			background: #51c3ca;
		}

		div.title-bg .cal-title {
			width: 250px;
			font-size: 16px;
			float: left;
			padding: 10px;
			color: #fff;
		}

		div.title-bg .tright {
			width: 620px;
			margin-top: 15px;
			float: right;
		}

		div.title-bg .tright.t12 {
			color: #fff;
			font-size: 12px;
			padding-right: 5px;
		}

	/*
	// -- detail readme -- //
	*/

	.detail-readme {
		width: 100%;
		border-top: 1px solid #efefef;
		border-bottom: 1px solid #efefef;
		background: #f8f8f8;
		color: #333;
		font-size: 12px;
		padding: 10px;
		line-height: 150%;
		margin:10px 0 20px 0;
		clear: both;
	}

	.detail-readme span {
		font-weight: bold;
	}

	.detail-readme a {
		color: #c00;
		font-weight: bold;
		text-decoration: underline;
		margin-left: 5px;
	}

	.detail-readme a:hover {
		color: #333;
	}

	/*
	// -- reserve wrap -- //
	*/

	.reserve-wrap {
		margin: 15px 0;
	}

	.reserve-wrap ul {
		margin-top: 1px;
	}

		.reserve-wrap li {
			line-height: 135%;
			font-size: 12px;
		}

	a.btn-reserve {
		width: 160px;
		height: 50px;
		display: block;
		background: url('../images/btn_reserve.gif') no-repeat;
		text-indent: -9999px;
	}
		a.btn-reserve:hover {
			background-position: 0 bottom;
		}


/*===================================================================================*/
/*  MAIN GALLERY SLIDER - [BXSLIDER]                                                 */
/*===================================================================================*/

.bx-pager {
	text-align: center;
	font-size: .85em;
	font-family: Arial;
	font-weight: bold;
	color: #fff;
	position: absolute;
	top: 20px;
	left: 20px;
	z-index: 100;
}

.bx-pager .bx-pager-item,
.bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}

.bx-pager.bx-default-pager a {
	background: #fff;
	text-indent: -9999px;
	display: block;
	width: 12px;
	height: 12px;
	outline: 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin: 0 3px;
}

.bx-pager.bx-default-pager a:hover {
	background: #00aebd;
}
.bx-pager.bx-default-pager a.active {
	background: #f02a5b;
}


/*===================================================================================*/
/*  OTHER STYLE                                                                      */
/*===================================================================================*/

.discount-contents {
	width: 89px;
	height: 103px;
	position: absolute;
	top: -7px;
	right: 10px;
	background: url('../images/discount_icon.png') no-repeat;
	z-index: 999;
}

.discount-contents h6 {
	display: block;
	margin-top: 26px;
	color: #fff;
	font-size: 24px;
	text-align: center;
}

/*===================================================================================*/
/*  END STYLE SHEET CODING : BY HYEUK                                                */
/*===================================================================================*/
