@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body,html{height:100%}
body{font-family:'Nanum Gothic', sans-serif}
#wrap{position:relative;min-height:100%;}
.background-overlay{position:absolute;top:0;left:0;min-width:960px;width:100%;height:100%;background:url('../images/bg_overlay.gif') repeat;z-index:-1}
#container{width:960px;margin:0 auto}

#header {width:100%;height:65px; position:relative; z-index:100; border-bottom:1px solid #000; background:#fff;}
/*
#header {width:100%;height:65px; position:relative; z-index:100; border-bottom:1px solid #0ad9c3; background:#47f3f5;}
*/
#header.main-header {background:url('../images/nav.png') repeat;-webkit-box-shadow:0 0 1px 1px rgba(0,0,0,0.4);-moz-box-shadow:0 0 1px 1px rgba(0,0,0,0.4);box-shadow:0 0 1px 1px rgba(0,0,0,0.4); border-bottom:1px solid #000;}
#header.main-header #nav li a.headlink:hover{color:#c00;}
#header.main-header:hover {background:url('../images/nav_over.png') repeat;}

/*
.main {background:url('../images/nav_over.png') repeat; -webkit-box-shadow:0 0 1px 1px rgba(0,0,0,0.4);-moz-box-shadow:0 0 1px 1px rgba(0,0,0,0.4);box-shadow:0 0 1px 1px rgba(0,0,0,0.4);}
#header {width:100%;height:65px;background:#47F3F5;}
/*
#header:hover {background:url('../images/nav_over.png') repeat;}
*/


.clearfix {clear:both;}

#nav {font-size:13px; font-weight:700; position:relative;}
#nav .logo {position:absolute; z-index:2; margin-top:6px;}
#nav .header-section {width:125px;position:absolute; z-index:2; margin-top:24px; right:0; color:#333; font-size:12px;}
#nav .header-section ul {float:right;}
#nav .header-section li {float:left; margin-left:10px;}
#nav .header-section li a {color:#333; text-decoration:none;}
#nav .header-section li a:hover {color:#00bfb4;}
#nav .nav_content {position:relative; width:960px; margin:0 auto; z-index:2; background:#c00}
#nav ul{ text-align:center;}
#nav .gnb {width:692px; position:absolute; left:50%; margin-left:-315px; margin-top:8px;}
#nav li{position:relative;}
#nav li.depth1 {float:left;}
#nav .gnb1 {width:88px; display:block; height:50px; background:url('../images/gnb_01.png') 0 0 no-repeat; text-indent:-99999em;}
#nav .gnb2 {width:87px; display:block; height:50px;background:url('../images/gnb_02.png') 0 0 no-repeat; text-indent:-99999em;}
#nav .gnb3 {width:87px; display:block; height:50px;background:url('../images/gnb_03.png') 0 0 no-repeat; text-indent:-99999em;}
#nav .gnb4 {width:129px; display:block; height:50px;background:url('../images/gnb_04.png') 0 0 no-repeat; text-indent:-99999em;}
#nav .gnb5 {width:81px; display:block; height:50px;background:url('../images/gnb_05.png') 0 0 no-repeat; text-indent:-99999em;}
#nav .gnb6 {width:97px; display:block; height:50px;background:url('../images/gnb_06.png') 0 0 no-repeat; text-indent:-99999em;}
#nav .gnb7 {width:111px; display:block; height:50px;background:url('../images/gnb_07.png') 0 0 no-repeat; text-indent:-99999em;}
#nav .gnb1:hover, #nav .gnb2:hover, #nav .gnb3:hover, #nav .gnb4:hover, #nav .gnb5:hover, #nav .gnb6:hover, #nav .gnb7:hover {background-position:0 bottom;}


#nav li.current a.headlink{color:#c00;text-decoration:underline}
#nav li ul{display:none;position:absolute; top:48px;left:50%;margin-left:-64px; width:124px;border:1px solid #ddd;background:#fff;-webkit-box-shadow:0 0 1px 1px rgba(0,0,0,0.4);-moz-box-shadow:0 0 1px 1px rgba(0,0,0,0.4);box-shadow:0 0 1px 1px rgba(0,0,0,0.4)}
#nav li ul li{float:none; border-bottom:1px solid #e5e5e5; margin-top:0; font-size:12px; margin:0 2px;}
#nav li ul li:last-child{border-bottom:0}
#nav li ul li a{display:block;padding:5px;color:#000;}
#nav li ul li a:hover{color:#c00}
#nav li ul li.active a {color:#c00;background:url('../images/bg_nav-sub-current.png') no-repeat 10px 12px}
#nav .util-nav{float:right;padding:11px 0 0 0}
#nav .util-nav img{vertical-align:middle}
#nav li ul li.last {border:none;}

.header-section {float:right; margin-top:15px; font-size:11px;}
.header-section li {float:left; margin-left:10px;}

.reser {position:absolute; right:0; top:66px;}   /* 실시간예약 */
.reser a {width:99px; height:130px; display:block; background:url('../images/r.png') no-repeat; text-indent:-99999em;}

.clear {clear:both; margin:0; padding:0; font-size:0; line-height:0;}

#quick {width:160px; background:#fff; position:absolute; top:100px; left:50%; margin:0 0 0 -480px; opacity:.5;-ms-filter:"alpha(opacity=50)";filter:alpha(opacity=50); z-index:2;-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF); zoom: 1;}
#quick .quick-navi .headlink {text-align:center;}
#quick:hover,#quick .quick-navi .headlink:hover {opacity:1;-ms-filter:"alpha(opacity=100)";filter:alpha(opacity=100);-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF); zoom: 1;}
#quick .quick-navi a {display:block; color:#000; width:100%; height:100%;}
#quick .quick-navi a:hover {color:#c00;}
#quick:hover,#quick .quick-navi ul li {padding:5px; font-size:15px; line-height:160%;}
#quick:hover,#quick .quick-navi ul li ul li {padding:0; font-size:13px; line-height:160%;}

#container {width:100%; padding-top:30px;margin-bottom:30px;zoom:1}
.content-title {width:100%; text-align:center; padding:30px 0;}
.content-title h1 {margin:0; padding:0; display:block; width:100%; border-bottom:1px solid #ccc; font-size:35px;}
.content-title span {}
.content-area {width:960px; margin:0 auto; zoom:1;}
.content-area:after {content:"";display:block;clear:both}
.bg-ptn1 {background:#fff url('../images/main_ptn.gif') repeat;}

#aside{float:left;width:220px}


#content{float:right;width:680px;padding:20px;min-height:500px;background:#fff;-webkit-box-shadow:0 0 1px 1px rgba(0,0,0,0.2);-moz-box-shadow:0 0 1px 1px rgba(0,0,0,0.2);box-shadow:0 0 1px 1px rgba(0,0,0,0.2)}
.aside-nav{margin-bottom:20px;padding:0 0 15px 0;font-size:12px;background:#fff;-webkit-box-shadow:0 0 1px 1px rgba(0,0,0,0.2);-moz-box-shadow:0 0 1px 1px rgba(0,0,0,0.2);box-shadow:0 0 1px 1px rgba(0,0,0,0.2)}
.aside-nav h2{padding:20px;font-size:16px;color:#444}
.aside-nav li a{display:block;padding:5px 20px;color:#888}
.aside-nav li a:hover{color:#000}
.aside-nav li.current a{color:#000;background:url('../images/bg_nav-sub-current.png') no-repeat 10px 12px}
.content-head{width:100%;overflow:hidden;margin-bottom:20px}
.content-head h2{float:left;font-size:24px;color:#444}
.content-head .breadcrumb{float:right;padding-top:10px;font-size:11px;color:#999}
.content-head .breadcrumb img{vertical-align:middle}
#main-visual-gallery{position:absolute;top:0;left:0;width:100%;height:100%;z-index:1}
#main-visual-gallery li{position:absolute;top:0;left:0;width:100%;height:100%}
#main-visual-gallery img{width:100%;height:100%}

/* main footer */
#main-footer {background:#fff; width:100%; padding:13px 0; position:absolute; bottom:0; border-top:1px solid #000; z-index:500;}
#main-footer .main-footer-area {width:960px; margin:0 auto; font-size:11px; font-weight:400; line-height:150%; position:relative;}
#main-footer .main-footer-area .footer-left {float:left; width:530px;}
#main-footer .main-footer-area .footer-right {float:right; margin-top:20px; width:400px; text-align:right; position:absolute; right:0; top:-15px;}
#main-footer .main-footer-area .footer-right a {color:#ff444f; font-weight:700; text-decoration:none;}
#main-footer .main-footer-area .footer-right a:hover {color:#c00;}
#main-footer .main-footer-area .copyright {margin-top:5px;}


/*
#main-footer {background:#fff; width:100%; padding:13px 0; position:absolute; bottom:0; border-top:1px solid #000; z-index:100;}
#main-footer .main-footer-area {width:960px; margin:0 auto; font-size:11px; font-weight:400; line-height:150%;}
#main-footer .main-footer-area .footer-left {float:left;}
#main-footer .main-footer-area .footer-right {float:right;}
#main-footer .main-footer-area .footer-right a {color:#ff444f; font-weight:700; text-decoration:none;}
#main-footer .main-footer-area .footer-right a:hover {color:#c00;}
*/

/* sub footer */
#footer{position:relative;bottom:0px;overflow:hidden;padding:15px 0;font-size:12px; border-top:1px solid #999; background:#fff;}
#footer:after{content:"";display:block;clear:both}
#footer .content{width:950px;margin:0 auto}
#footer .content .info {float:left;}
#footer .content .info li {line-height:140%;}
.footer-nav {margin-bottom:7px; font-size:11px; float:right;}
.footer-nav a {margin:0 7px; color:#999;}
.footer-nav a:hover {color:#f00;}
.footer-nav .depth1 {float:left; text-align:center; margin-left:5px; font-size:12px; display:block; height:90px;}
.footer-nav .depth1:hover a {color:#333;}
.footer-nav .depth1 a b {color:#000;}
.footer-nav .depth2 {text-align:center; font-size:11px; margin-top:3px; line-height:140%;}
.footer-nav .depth1:hover .depth2 a {color:#666;}
.footer-nav .depth1:hover .depth2 a:hover {color:#c00;}
.copyright {font-size:11px; color:#666; margin-top:10px;}


/* -------------------------------------------------------------------------------------------------------------------
                                                sub page style
------------------------------------------------------------------------------------------------------------------- */
.pension-info {width:100%; color:#333; font-size:12px;}
.pension-info table {border-collapse:collapse; width:100%; font-size:12px; color:#333;}
.pension-info table th {font-size:11px; color:#c00; font-weight:bold; text-align:center; border:1px solid #ccc; padding:5px;}
.pension-info table td {font-size:12px; color:#333; text-align:center; border:1px solid #ccc; padding:5px; border-top:none;}
.pension-info table .border-left {border-left:none;}
.pension-info table .border-right {border-right:none;}
.pension-info .infomation {width:96%; margin:20px auto;}
.pension-info .infomation .f-red {font-size:11px; color:#c00; font-weight:bold;}
.pension-info .infomation li {padding:1px 0 2px 0;}
.pension-info .infomation li.ps {padding:0 0 0 15px}
.pension-info .infomation li.info-title {padding:20px 0 5px 0;}
.pension-info a {color:blue}
.pension-info a:hover {color:red}

#my_slider { margin:26px 0;}
#my_slider * { outline:none;}
#my_slider .clear_my_slider { clear:both; height:1px; overflow:hidden; float:none !important;}

#my_slider { width:960px; height:450px; position:relative; overflow:hidden;}
#my_slider .info_block_my_slider { width:269px; height:450px; position:absolute; left:0px; top:0px; bottom:0px; z-index:100; background:url('../images/bg_info_block.png'); overflow:visible; background:#c00;}
#my_slider .inner_block_my_slider { width:960px; height:450px; position:relative; z-index:50;}
#my_slider .inner_block_my_slider div{ position:absolute; left:0px; top:0px; width:960px; height:450px;}
#my_slider .inner_block_my_slider div.active { z-index:10;}
#my_slider .prev_my_slider,
#my_slider .next_my_slider { width: 23px; height:450px; position:absolute; right:-23px; top:0px; bottom:0px; z-index:80; background:url('../images/bg_next_prev.png');}
#my_slider .next_my_slider { right:0px;}
#my_slider .prev_my_slider a,
#my_slider .next_my_slider a { display:block; width: 23px; height:450px; text-decoration:none; overflow:hidden;}
#my_slider .prev_my_slider a span,
#my_slider .next_my_slider a span{ display:block; width:23px; height:24px; margin-top:200px; cursor: pointer;}
#my_slider .prev_my_slider a span{ background: #ef4e39 url('../images/ad_prev.gif') no-repeat 9px;}
#my_slider .next_my_slider a span{ background: #ef4e39 url('../images/ad_next.gif') no-repeat 9px;}
#min_images_my_slider { width:100%; margin:82px 0 0 22px;}
#min_images_my_slider ul { list-style-type:none;}
#min_images_my_slider ul li { list-style-type:none; float:left; margin-right:3px; padding-top:2px;}
#min_images_my_slider ul li a { display:block; width:31px; height:29px; padding-top:2px; border: 2px solid #f2f5f4;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}
#min_images_my_slider ul li a:hover,
#min_images_my_slider ul li a.active {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}
#my_slider .close_see_info_block_my_slider { display:block; width:23px; height:50px; overflow:hidden; position:absolute; z-index:150; top:34px; right:-23px; background:url('../images/ad_close.gif') no-repeat left bottom; }
#my_slider .close_see_info_block_my_slider a { display:block; width:23px; height:50px; overflow:hidden;}
#my_slider .close_see_info_block_my_slider.active { background:url('../images/ad_close.gif') no-repeat left top; }


#my_slider #description_my_slider {width:100%; margin-top:21px;}
#my_slider .alt_my_slider { background: #fff; color: #3d3d3d; position:absolute; right:10px; height:14px; padding:2px 2px 1px 2px;}
#my_slider .title_my_slider { background:#99d4e8; color: #fff; font-weight:bold; float:right; margin:25px 10px 0 0; height:14px; padding:2px;}
#my_slider .number_my_slider { margin-top:10px; color:#333333; font: bold 29px/35px 'Droid Sans', sans-serif; clear:both; width:257px; display:block; text-align:left; display:none;}


table {border-collapse:collapse; border-spacing:0; font-family:'Nanum Gothic';}

.highlight-pink {color:#ff444f; font-weight:700;}
.highlight-blue {color:#2fb6bc; font-weight:700;}


/* 툴팁 관련 css */
.tipsy{font-family:'NanumGothicWeb';padding:5px; font-size:11px; position:absolute; z-index:9;opacity:1;background-repeat:no-repeat;background-image:url('../images/tipsy.gif')}
.tipsy-inner{padding:6px 9px 5px;background-color:black;color:white;text-shadow:1px 1px #393b3f;max-width:200px;text-align:center;-moz-border-radius:15px 15px 15px 15px;-webkit-border-radius:15px 15px 15px 15px;border-radius:15px 15px 15px 15px}
.tipsy-inner {border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; }
.tipsy-arrow {position:absolute; background:url('../images/tipsy.gif') no-repeat top left; width:9px; height:5px;}
.tipsy-n .tipsy-arrow	{top:0; left:50%; margin-left:-4px;}
.tipsy-nw .tipsy-arrow	{top:0; left:10px;}
.tipsy-ne .tipsy-arrow	{top:0; right:10px;}
.tipsy-s .tipsy-arrow	{bottom:0; left:50%; margin-left:-4px; background-position:bottom left;}
.tipsy-sw .tipsy-arrow	{bottom:0; left:10px; background-position:bottom left; }
.tipsy-se .tipsy-arrow	{bottom:0; right:10px; background-position:bottom left; }
.tipsy-e .tipsy-arrow	{top:50%; margin-top:-4px; right:0; width: 5px; height:9px; background-position:top right;}
.tipsy-w .tipsy-arrow	{top:50%; margin-top:-4px; left:0; width: 5px; height:9px; }
.tipsy-north{background-position:top center}
.tipsy-south{background-position:bottom center}
.tipsy-east{background-position:right center}
.tipsy-west{background-position:left center}



/* --------------------------- sub3 PREVIEW layout --------------------------- */
.preview-area {width:100%; height:200px; position:relative; background:url('../images/preview_bg.png') center bottom no-repeat; padding-top:10px; margin:0 auto 50px auto;}
.preview-area div.title {position:absolute; width:265px; height:177px; left:30px; bottom:20px;}
/* .preview-area div.f2 {background:url('../images/preview_2f.png') no-repeat;}
.preview-area div.f3 {background:url('../images/preview_3f.png') no-repeat;}
.preview-area div.f4 {background:url('../images/preview_4f.png') no-repeat;} */
.preview-area ul {position:absolute; width:100%; right:0px; bottom:20px; text-align:center;}
.preview-area li {display:inline-block; *display:inline; *zoom:1; margin:0 0 0 30px; width:177px; height:177px; font-size:12px; padding:0; text-align:center; float:center;}
.preview-area ul li a {display:block; width:177px; height:177px; position:relative;}
.preview-area ul li a.ch1 {background:url('../../../../sub/images/sub3/ch1.png') 0 top no-repeat;}
.preview-area ul li a.ch2 {background:url('../../../../sub/images/sub3/ch2.png') 0 top no-repeat;}
.preview-area ul li a.ch3 {background:url('../../../../sub/images/sub3/ch3.png') 0 top no-repeat;}
.preview-area ul li a.ch4 {background:url('../../../../sub/images/sub3/ch4.png') 0 top no-repeat;}
.preview-area ul li a.ch5 {background:url('../../../../sub/images/sub3/ch5.png') 0 top no-repeat;}
.preview-area ul li a.ch6 {background:url('../../../../sub/images/sub3/ch6.png') 0 top no-repeat;}
.preview-area ul li a.ch7 {background:url('../../../../sub/images/sub3/ch7.png') 0 top no-repeat;}
.preview-area ul li a.f4-02 {background:url('../../../../sub/images/sub3/preview_4f_02.png') 0 top no-repeat;}
.preview-area ul li a.f4-03 {background:url('../../../../sub/images/sub3/preview_4f_03.png') 0 top no-repeat;}
.preview-area ul li a.v1 {background:url('../../../../sub/images/sub3/preview_v1.png') 0 top no-repeat;}
.preview-area ul li a.v2 {background:url('../../../../sub/images/sub3/preview_v2.png') 0 top no-repeat;}
.preview-area ul li a.v3 {background:url('../../../../sub/images/sub3/preview_v3.png') 0 top no-repeat;}
.preview-area ul li a.v4 {background:url('../../../../sub/images/sub3/preview_v4.png') 0 top no-repeat;}
.preview-area ul li a.v5 {background:url('../../../../sub/images/sub3/preview_v5.png') 0 top no-repeat;}
.preview-area ul li a.v6 {background:url('../../../../sub/images/sub3/preview_v6.png') 0 top no-repeat;}
.preview-area ul li a:hover {background-position:0 bottom;}
.preview-area ul li h2 {position:absolute; bottom:4px; left:-1px; width:177px; text-align:center; font-size:12px; background:#000; color:#fff; z-index:9; padding:5px 0; opacity:.75;-ms-filter:"alpha(opacity=75)";filter:alpha(opacity=75);-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF); zoom: 1;}
.preview-area ul li:hover a h2 {display:none;}


.preview-area-bg2 {width:100%; height:200px; position:relative; background:url('../images/preview_bg.png') center bottom no-repeat; padding-top:10px; margin:0 auto 10px auto;}
.preview-area-bg2 ul {position:absolute; width:100%; right:0px; bottom:20px; text-align:center;}
.preview-area-bg2 li {display:inline-block; *display:inline; *zoom:1; margin:0 0 0 30px; width:250px; height:177px; font-size:12px; padding:0; text-align:center; float:center;}
.preview-area-bg2 ul li a {display:block; width:250px; height:177px; position:relative;}
.preview-area-bg2 ul li a.v1 {background:url('../../../../sub/images/sub3/preview_v1.png') 0 top no-repeat;}
.preview-area-bg2 ul li a.v2 {background:url('../../../../sub/images/sub3/preview_v2.png') 0 top no-repeat;}
.preview-area-bg2 ul li a.v3 {background:url('../../../../sub/images/sub3/preview_v3.png') 0 top no-repeat;}
.preview-area-bg2 ul li a.v4 {background:url('../../../../sub/images/sub3/preview_v4.png') 0 top no-repeat;}
.preview-area-bg2 ul li a.v5 {background:url('../../../../sub/images/sub3/preview_v5.png') 0 top no-repeat;}
.preview-area-bg2 ul li a.v6 {background:url('../../../../sub/images/sub3/preview_v6.png') 0 top no-repeat;}
.preview-area-bg2 ul li a:hover {background-position:0 bottom;}
.preview-area-bg2 ul li h2 {position:absolute; bottom:4px; left:-1px; width:252px; text-align:center; font-size:12px; background:#000; color:#fff; z-index:9; padding:5px 0; opacity:.75;-ms-filter:"alpha(opacity=75)";filter:alpha(opacity=75);-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF); zoom: 1;}
.preview-area-bg2 ul li:hover a h2 {display:none;}

/* --------------------------- sub5 TRAVEL layout --------------------------- */
.travel-area {width:100%; height:200px; position:relative; background:url('../images/preview_bg.png') center bottom no-repeat; padding-top:10px; margin:0 auto 50px auto;}
.travel-area ul {position:absolute; width:100%; right:0px; bottom:20px; text-align:center;}
.travel-area li {display:inline-block; *display:inline; *zoom:1; margin:0 10px; width:177px; height:177px; font-size:12px; padding:0;}
.travel-area ul li a {display:block; text-indent:-99999em; width:177px; height:177px;}
.travel-area ul li a.travel_01 {background:url('../../../../sub/images/sub5/travel_01.png') 0 top no-repeat;}
.travel-area ul li a.travel_02 {background:url('../../../../sub/images/sub5/travel_02.png') 0 top no-repeat;}
.travel-area ul li a.travel_03 {background:url('../../../../sub/images/sub5/travel_03.png') 0 top no-repeat;}
.travel-area ul li a.travel_04 {background:url('../../../../sub/images/sub5/travel_04.png') 0 top no-repeat;}
.travel-area ul li a.travel_05 {background:url('../../../../sub/images/sub5/travel_05.png') 0 top no-repeat;}
.travel-area ul li a.travel_06 {background:url('../../../../sub/images/sub5/travel_06.png') 0 top no-repeat;}
.travel-area ul li a.travel_07 {background:url('../../../../sub/images/sub5/travel_07.png') 0 top no-repeat;}
.travel-area ul li a.travel_08 {background:url('../../../../sub/images/sub5/travel_08.png') 0 top no-repeat;}
.travel-area ul li a.travel_09 {background:url('../../../../sub/images/sub5/travel_09.png') 0 top no-repeat;}
.travel-area ul li a.travel_10 {background:url('../../../../sub/images/sub5/travel_10.png') 0 top no-repeat;}
.travel-area ul li a.travel_11 {background:url('../../../../sub/images/sub5/travel_11.png') 0 top no-repeat;}
.travel-area ul li a.travel_12 {background:url('../../../../sub/images/sub5/travel_12.png') 0 top no-repeat;}
.travel-area ul li a:hover {background-position:0 bottom;}

.content-nav {width:960px; height:35px; margin:0 auto 30px auto; zoom:1; position:relative; padding:0 0 5px 0; background:url('../images/preview_bg.png') 50% bottom no-repeat; font-size:0.9em;}
.content-nav:after {content:"";display:block;clear:both}
.content-nav ul {width:900px; margin:0 30px; list-style:disc;}
.content-nav ul li {display:inline-block; *display:inline; *zoom:1; padding-left:15px; margin-left:4px; font-weight:400; float:left; background:url('../images/bullet.png') left 2px no-repeat;}
.content-nav ul li.first {background:none; padding:0; margin:0;}
.content-nav ul li.last {position:absolute; right:30px;}
.content-nav ul li a {color:#333; text-decoration:none;}
.content-nav ul li a:hover,
.content-nav ul li a.on {color:#c00;}

.tour-area {width:960px; margin:0 auto;}
.tour-area h1 {font-size:22px; margin:10px 0; padding:0 0 5px 0; border-bottom:1px solid #ddd; text-align:center; color:#2fb6bc;}
.tour-area .t-main-img01 {width:960px; height:400px; position:relative; background:url('../../../../sub/images/sub5/t_main_01.jpg') no-repeat; z-index:8;}
.tour-area .t-main-img02 {width:960px; height:400px; position:relative; background:url('../../../../sub/images/sub5/t_main_02.jpg') no-repeat; z-index:8;}
.tour-area .t-main-img03 {width:960px; height:400px; position:relative; background:url('../../../../sub/images/sub5/t_main_03.jpg') no-repeat; z-index:8;}
.tour-area .t-main-img04 {width:960px; height:400px; position:relative; background:url('../../../../sub/images/sub5/t_main_04.jpg') no-repeat; z-index:8;}
.tour-area .t-main-img05{width:960px; height:400px; position:relative; background:url('../../../../sub/images/sub5/t_main_05.jpg') no-repeat; z-index:8;}
.tour-area .t-main-img06 {width:960px; height:400px; position:relative; background:url('../../../../sub/images/sub5/t_main_06.jpg') no-repeat; z-index:8;}
.tour-area .t-main-img07 {width:960px; height:400px; position:relative; background:url('../../../../sub/images/sub5/t_main_07.jpg') no-repeat; z-index:8;}
.tour-area .t-main-img08 {width:960px; height:400px; position:relative; background:url('../../../../sub/images/sub5/t_main_08.jpg') no-repeat; z-index:8;}
.tour-area .t-main-img09 {width:960px; height:400px; position:relative; background:url('../../../../sub/images/sub5/t_main_09.jpg') no-repeat; z-index:8;}
.tour-area .t-main-img10 {width:960px; height:400px; position:relative; background:url('../../../../sub/images/sub5/t_main_10.jpg') no-repeat; z-index:8;}
.tour-area .t-main-img11 {width:960px; height:400px; position:relative; background:url('../../../../sub/images/sub5/t_main_11.jpg') no-repeat; z-index:8;}
.tour-area .t-main-img12 {width:960px; height:400px; position:relative; background:url('../../../../sub/images/sub5/t_main_12.jpg') no-repeat; z-index:8;}
.tour-area .btn-location {width:17px; height:21px; display:block; text-indent:-99999em; background:url('../images/location_btn.png') no-repeat; position:absolute; right:15px; bottom:15px; z-index:9;}
.tour-area .btn-location:hover {background-position:0 bottom;}
.tour-area .btn-homepage {width:22px; height:21px; display:block; text-indent:-99999em; background:url('../images/homepage_btn.png') no-repeat; position:absolute; right:12px; bottom:38px; z-index:9;}
.tour-area .btn-homepage:hover {background-position:0 bottom;}
.tour-area .tour-content {width:940px; font-size:13px; line-height:150%; text-align:justify; margin:10px auto 0 auto;}
.tour-area .tour-content ul {margin:15px 0;}
.tour-area .tour-thumb {width:100%; text-align:center; font-size:0; line-height:0;}
.tour-area .tour-thumb li {display:inline-block; *display:inline; *zoom:1; margin:0 4px;}
.tour-area .tour-thumb li a {display:block; width:120px; height:80px; background:#fff; border:1px solid #ccc; padding:4px;}
.tour-area .tour-thumb li a:hover {background:#ff444f; border:1px solid #999;}








/* fancybox */

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	margin-left: -20px;
	cursor: pointer;
	overflow: hidden;
	z-index: 1104;
	display: none;
}

#fancybox-loading div {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 480px;
	background-image: url('../../../../js/fancybox/fancybox.png');
}

#fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1100;
	display: none;
	z-index:999999998;
}

#fancybox-tmp {
	padding: 0;
	margin: 0;
	border: 0;
	overflow: auto;
	display: none;
}

#fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	z-index: 1101;
	outline: none;
	display: none;
	z-index:999999999;
}

#fancybox-outer {
	position: relative;
	width: 100%;
	height: 100%;
	background: #fff;
}

#fancybox-content {
	width: 0;
	height: 0;
	padding: 0;
	outline: none;
	position: relative;
	overflow: hidden;
	z-index: 1102;
	border: 0px solid #fff;
}

#fancybox-hide-sel-frame {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	z-index: 1101;
}

#fancybox-close {
	position: absolute;
	top: -15px;
	right: -15px;
	width: 30px;
	height: 30px;
	background: transparent url('../../../../js/fancybox/fancybox.png') -40px 0px;
	cursor: pointer;
	z-index: 1103;
	display: none;
}

#fancybox-error {
	color: #444;
	font: normal 12px/20px Arial;
	padding: 14px;
	margin: 0;
}

#fancybox-img {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	line-height: 0;
	vertical-align: top;
}

#fancybox-frame {
	width: 100%;
	height: 100%;
	border: none;
	display: block;
}

#fancybox-left, #fancybox-right {
	position: absolute;
	bottom: 0px;
	height: 100%;
	width: 35%;
	cursor: pointer;
	outline: none;
	background: transparent url('blank.gif');
	z-index: 1102;
	display: none;
}

#fancybox-left {
	left: 0px;
}

#fancybox-right {
	right: 0px;
}

#fancybox-left-ico, #fancybox-right-ico {
	position: absolute;
	top: 50%;
	left: -9999px;
	width: 30px;
	height: 30px;
	margin-top: -15px;
	cursor: pointer;
	z-index: 1102;
	display: block;
}

#fancybox-left-ico {
	background-image: url('../../../../js/fancybox/fancybox.png');
	background-position: -40px -30px;
}

#fancybox-right-ico {
	background-image: url('../../../../js/fancybox/fancybox.png');
	background-position: -40px -60px;
}

#fancybox-left:hover, #fancybox-right:hover {
	visibility: visible; /* IE6 */
}

#fancybox-left:hover span {
	left: 20px;
}

#fancybox-right:hover span {
	left: auto;
	right: 20px;
}

.fancybox-bg {
	position: absolute;
	padding: 0;
	margin: 0;
	border: 0;
	width: 20px;
	height: 20px;
	z-index: 1001;
}

#fancybox-bg-n {
	top: -20px;
	left: 0;
	width: 100%;
	background-image: url('fancybox-x.png');
}

#fancybox-bg-ne {
	top: -20px;
	right: -20px;
	background-image: url('../../../../js/fancybox/fancybox.png');
	background-position: -40px -162px;
}

#fancybox-bg-e {
	top: 0;
	right: -20px;
	height: 100%;
	background-image: url('fancybox-y.png');
	background-position: -20px 0px;
}

#fancybox-bg-se {
	bottom: -20px;
	right: -20px;
	background-image: url('../../../../js/fancybox/fancybox.png');
	background-position: -40px -182px;
}

#fancybox-bg-s {
	bottom: -20px;
	left: 0;
	width: 100%;
	background-image: url('fancybox-x.png');
	background-position: 0px -20px;
}

#fancybox-bg-sw {
	bottom: -20px;
	left: -20px;
	background-image: url('../../../../js/fancybox/fancybox.png');
	background-position: -40px -142px;
}

#fancybox-bg-w {
	top: 0;
	left: -20px;
	height: 100%;
	background-image: url('fancybox-y.png');
}

#fancybox-bg-nw {
	top: -20px;
	left: -20px;
	background-image: url('../../../../js/fancybox/fancybox.png');
	background-position: -40px -122px;
}

#fancybox-title {
	font-family: Helvetica;
	font-size: 12px;
	z-index: 1102;
}

.fancybox-title-inside {
	padding-bottom: 10px;
	text-align: center;
	color: #333;
	background: #fff;
	position: relative;
}

.fancybox-title-outside {
	padding-top: 10px;
	color: #fff;
}

.fancybox-title-over {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #FFF;
	text-align: left;
}

#fancybox-title-over {
	padding: 10px;
	background-image: url('fancy_title_over.png');
	display: block;
}

.fancybox-title-float {
	position: absolute;
	left: 0;
	bottom: -20px;
	height: 32px;
}

#fancybox-title-float-wrap {
	border: none;
	border-collapse: collapse;
	width: auto;
}

#fancybox-title-float-wrap td {
	border: none;
	white-space: nowrap;
}

#fancybox-title-float-left {
	padding: 0 0 0 15px;
	background: url('../../../../js/fancybox/fancybox.png') -40px -90px no-repeat;
}

#fancybox-title-float-main {
	color: #FFF;
	line-height: 29px;
	font-weight: bold;
	padding: 0 0 3px 0;
	background: url('fancybox-x.png') 0px -40px;
}

#fancybox-title-float-right {
	padding: 0 0 0 15px;
	background: url('../../../../js/fancybox/fancybox.png') -55px -90px no-repeat;
}

/* IE6 */

.fancybox-ie6 #fancybox-close { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_close.png', sizingMethod='scale'); }

.fancybox-ie6 #fancybox-left-ico { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_nav_left.png', sizingMethod='scale'); }
.fancybox-ie6 #fancybox-right-ico { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_nav_right.png', sizingMethod='scale'); }

.fancybox-ie6 #fancybox-title-over { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_over.png', sizingMethod='scale'); zoom: 1; }
.fancybox-ie6 #fancybox-title-float-left { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_left.png', sizingMethod='scale'); }
.fancybox-ie6 #fancybox-title-float-main { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_main.png', sizingMethod='scale'); }
.fancybox-ie6 #fancybox-title-float-right { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_right.png', sizingMethod='scale'); }

.fancybox-ie6 #fancybox-bg-w, .fancybox-ie6 #fancybox-bg-e, .fancybox-ie6 #fancybox-left, .fancybox-ie6 #fancybox-right, #fancybox-hide-sel-frame {
	height: expression(this.parentNode.clientHeight + "px");
}

#fancybox-loading.fancybox-ie6 {
	position: absolute; margin-top: 0;
	top: expression( (-20 + (document.documentElement.clientHeight ? document.documentElement.clientHeight/2 : document.body.clientHeight/2 ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop )) + 'px');
}

#fancybox-loading.fancybox-ie6 div	{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../fancybox/fancy_loading.png', sizingMethod='scale'); }

/* IE6, IE7, IE8 */

.fancybox-ie .fancybox-bg { background: transparent !important; }

.fancybox-ie #fancybox-bg-n { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_n.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-ne { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_ne.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-e { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_e.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-se { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_se.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-s { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_s.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-sw { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_sw.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-w { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_w.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-nw { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_nw.png', sizingMethod='scale'); }



/* 환불 및 유의사항 */
.caution ul {list-style:disc; padding-left:10px; margin:5px 0 30px 20px; clear:both; font-size:14px; font-family:돋움;}
.caution ul li {margin:5px 0 3px 20px; color:#555;}
.caution ul li.title {margin:0; padding:0; list-style:none;}
.caution h1 {display:block; font-size:1.2em; color:#c00;}
.caution ul li ul {list-style:none;}
.caution ul li ul li {margin-left:10px;}
.caution li.no-bullet {list-style:none;}

.caution .highlight-pink {color:#ff444f; font-weight:bold;}
.caution .highlight-blue {color:#1a9add; font-weight:bold;}

hr.line {background:#ddd; height:1px; width:100%; padding:0; line-height:0; border:none; margin-bottom:20px;}

ul.map-link {width:100%; margin:10px 0;}
ul.map-link li {display:inline-block; *zoom:1; *display:inline; margin-right:15px;}
ul.map-link li a {text-decoration:none;}
ul.map-link li a:hover {color:#c00;}
